.lake-info-box {
    border-radius: 10px;
    margin: 0px;
    background-color: var(--primary-bg-color) !important;
    font-size: medium;
    font-family: var(--primary-font);
    font-weight: normal;
}

li {
    padding: 3px !important;
}

.gm-style .gm-style-iw-d::-webkit-scrollbar-track, 
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece,
.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-t::after,
.gm-style .gm-style-iw-tc::after { 
    background-color: var(--primary-bg-color) !important;
}


/* .gm-style .gm-style-iw-d::-webkit-scrollbar-track,  */
/* .gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece, */
.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-t::after,
.gm-style .gm-style-iw-tc::after { 
    background-color: var(--primary-bg-color) !important;
    border-radius: 10px;
    border: solid;
    border-width: 3px;
    border-color: var(--primary-border-color);
}



