
.lake-filter-box {
    width: 20%;
    max-width: 350px;
    min-width: 200px;
    display: flex;
    flex-direction: column;    
    box-sizing: border-box;
    padding: 1.5%;
    margin: 1%;
    border-radius: 10px;
    border: solid;
    border-width: 3px;
    border-color: var(--primary-border-color);
    backdrop-filter: blur(4px);
    background-color: var(--primary-bg-color) !important;
    color: rgba(0, 0, 0, 0.6);
    /* float: "left"; */
    font-family: var(--primary-font);
    font-size: small;
}

.lake-filter-box > div {
    flex: 1;
    margin: 4%;
  }

