.lake-filter-box {
    /* bottom: 0;
    left: 0; */
    width: 20%;
    max-width: 350px;
    min-width: 200px;
    /* height: 5%; */
    display: flex;
    flex-direction: column;    
    box-sizing: border-box;
    padding: 1.5%;
    /* max-width: 100%; */
    margin: 1%;
    /* position: absolute; */
    /* z-index: 0; */
    /* background-color: #0b434f; */
    /* background-color: rgb(103, 187, 255); */
    /* background-blend-mode: normal; */
    border-radius: 10px;
    border: solid;
    border-width: 3px;
    border-color: gray;
    backdrop-filter: blur(4px);
    background-color: rgb(210, 210, 210) !important;
    color: rgba(0, 0, 0, 0.6);
    /* float: "left"; */
    font-family: "Roboto";
    font-size: small;
    /* color: white; */
    /* text-shadow: 3px; */
}

.lake-filter-box > div {
    flex: 1;
    margin: 4%;
    /* width: 100%; */
  }


/* .slider {
    color: white;
    border-color: gray;
    backdrop-filter: blur(1px);
} */

